
@import url('//fonts.googleapis.com/earlyaccess/nanumgothic.css');
html, body
{
	margin: 0px;
	font-family: Nanum Gothic;
	font-weight: normal;
	color: #7a7a7a;
	font-size: 20px;
}
.logInForm_out
{
	position: absolute;
	top: 20%;
	width: 100%;
	text-align: center;
}
.logInForm_in
{
	padding: 20px;
	display: inline-block;
	width: 100%;
	min-width: 300px;
	max-width: 350px;
	height: auto;
	text-align: left;
}
.img_in_textfield { 
	background: #f0f0f0;
	/*padding: 5px;*/
	position: relative; 
	width:100%; 
	/*border:1px solid #7a7a7a;*/
}
.img_in_textfield img 
{ 
	padding: 9px;
	position: absolute; 
	/*margin:8px;*/
}
.img_in_textfield input 
{ 
	font-family: Nanum Gothic;
	background: #f0f0f0;

	border:1px solid #7a7a7a;
	border-radius: 3px;

	display:block; 

	width: 100%; 
	height: 40px;

	font-size: 20px;
	font-weight: 800;
	box-sizing: border-box;
	line-height: 1.0em;
	text-align: center;
	color: #7a7a7a;
}
.img_in_textfield input:-ms-input-placeholder{color: #7a7a7a;}
.img_in_textfield input:focus
{ 
	background :#f0f5fa;
	border     :1px solid #0084c8;
	color      :#0084c8;
}

.login_btn
{
	padding        : 8px 0px;
	text-align     : center;
	border-radius  : 3px;
	background     : #1c97d7;
	color          : #fff;
	vertical-align : middle;
	font-weight    : 800;
}
.login_btn:hover{ background : #0e83bf;	cursor : pointer; }
.login_btn:active{ background : #2dacee; cursor : pointer; }